body {

}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    background: #b3c6d2;
    max-width: 960px;
}

.header {
    padding: 20px;
}

.navbar {
    margin-bottom: 30px;
}

.logo {
    text-align: center;
}

.wrapper {
    background: #82369e;
}

table{
    border: 1px solid #52a7d2;
    background: #eef5f7;
}

td {
    border: 1px solid #52a7d2 !important;
}

thead {
    border: 1px solid #f1e1e1 !important;
    background: #cadbe2;
}